################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pokedex/bin/Debug/net461
/Pokedex/obj
/.vs
/Pokedex/node_modules
/Pokedex/PokemonCache
/PokedexCore/bin/Debug/netcoreapp2.0
/PokedexCore/obj/Debug/netcoreapp2.0
/PokedexCore/obj/PokedexCore.csproj.nuget.g.targets
/PokedexCore/obj/PokedexCore.csproj.nuget.g.props
/PokedexCore/obj/PokedexCore.csproj.nuget.cache
/PokedexCore/node_modules
/PokedexCore/PokemonCache
/PokedexCore/wwwroot/js/bundle.js
/PokedexCore.Tests/bin/Debug/netcoreapp2.0
/PokedexCore.Tests/obj
