################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pokedex/bin/Debug/net461
/Pokedex/obj
/.vs
/Pokedex/node_modules
/Pokedex/PokemonCache
