
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png">

<div id="root"> </div>

@section scripts {
    <script src="~/js/bundle.js"></script>
}